<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="text-center">
        <h1 class="mb-4">システム停止中</h1>
        <p class="fs-5">
            現在システムメンテナンス中です。<br />
            ご不便をおかけしますが、しばらくお待ちください。
        </p>
    </div>
</div>
